@import 'reset';

body {
  font-family: var(--font-family-main), sans-serif;

}

#root {
  height: 100vh; // растягивание контента в App на всю высоту
}

.App {
  background-color: var(--mid-gray-bg-color);
  display: flex;
  height: 100%;

  // TODO можно вынести в переменную
  padding-top: 50px;
}

.Page {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
}
