@import 'reset';

body {
  font-family: var(--font-family-main), sans-serif;

}

#root {
  height: 100vh; // растягивание контента в App на всю высоту
}

.App {
  // TODO можно вынести в переменную
  padding-top: 50px;
}
