.sidebar {
  align-items: center;
  background-color: var(--default-bg-color);
  border-bottom: solid 1px var(--mid-gray-bg-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  padding: 20px;
  width: 280px;

  button {
    padding: 10px 20px;
    width: 100%;
  }

  a {
    width: 100%;
  }
}

.secondaryButton {
  background-color: var(--default-bg-color);
  color: var(--dark-bg-color);
  text-align: left;

  &:hover {
    background-color: var(--mid-gray-bg-color);
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

