.sidebar {
  width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-bottom: solid 1px var(--mid-gray-bg-color);
  background-color: var(--default-bg-color);

  button {
    width: 100%;
    padding: 10px 20px;
  }

  a {
    width: 100%;
  }
}

.secondaryButton {
  color: var(--dark-bg-color);
  background-color: var(--default-bg-color);
  text-align: left;

  &:hover {
    background-color: var(--mid-gray-bg-color);
  }
}

