.container {
  background-color: var(--default-bg-color);
  border-radius: var(--medium-round);
  display: flex;
  height: fit-content;
  min-height: calc(100vh - 90px);
  min-width: 350px;
  width: 55%;
}
