.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 50px;
  border-bottom: solid 1px var(--mid-gray-bg-color);
  background-color: var(--default-bg-color);
}

.title {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;

  .icon {
    width: 32px;
    height: 32px;
  }
}

.curUser {
  font-size: 18px;
}
